<div class="admin-layout" [class.sidebar-collapsed-layout]="isSidebarCollapsed">
  <!-- =================================================
       SIDEBAR
  ================================================== -->

  <app-sidebar
    [isOpen]="isMobileSidebarOpen"
    (closeSidebar)="closeMobileSidebar()"
    (collapsedChange)="onSidebarCollapsedChange($event)"
  ></app-sidebar>

  <!-- =================================================
       MAIN AREA
  ================================================== -->

  <div class="admin-main">
    <!-- Navbar -->

    <app-navbar (menuToggle)="toggleMobileSidebar()"></app-navbar>

    <!-- Main Content -->

    <main class="admin-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
